:host {
  display: block;
  height: 100%;
  width: 100%;
  #terms {
    padding: 2rem;
    ul {
      list-style: disc;
      margin-left: 2rem;
      padding-bottom: 1rem;
      li {
        margin-bottom: .5rem;
        font-weight: bold;
      }
    }
  }
}
